# ██ [ File-types                    ] ██
*.old
*.archive

# ██ [ Executables                   ] ██
*.exe
*.sh
*.py

# ██ [ Bloat external files          ] ██
*.bbmodel
*.psb
*.psd
hold/*

# ██ [ Default Minecraft assets      ] ██
assets/minecraft/textures/block/*
!assets/minecraft/textures/block/custom/
assets/minecraft/textures/item/*
!assets/minecraft/textures/item/custom/

assets/minecraft/models/block/*
!assets/minecraft/models/block/custom/
assets/minecraft/models/item/*
!assets/minecraft/models/item/custom/

# ██ [ Whitelist Minecraft overrides                           ] ██
!assets/minecraft/models/item/barrier.json
!assets/minecraft/models/item/black_stained_glass_pane.json
!assets/minecraft/models/item/blaze_rod.json
!assets/minecraft/models/item/carved_pumpkin.json
!assets/minecraft/models/item/cookie.json
!assets/minecraft/models/item/crossbow.json
!assets/minecraft/models/item/pufferfish.json
!assets/minecraft/models/item/dispenser.json
!assets/minecraft/models/item/wooden_sword.json
!assets/minecraft/models/item/player_head.json
!assets/minecraft/models/item/music_disc_11.json
!assets/minecraft/models/item/brush.json

# ██ [ for unplacable, consumable and consumed, tintable items ] ██
!assets/minecraft/models/item/glass_bottle.json

# ██ [ for unplacable, unstackable, tintable items             ] ██
!assets/minecraft/models/item/leather_horse_armor.json

# ██ [ for placable hard items                                 ] ██
!assets/minecraft/models/item/obsidian.json

# ██ [ for unplacable, consumable, tintable items              ] ██
!assets/minecraft/models/item/potion.json

# ██ [ for unplacable, consumable items                        ] ██
!assets/minecraft/models/item/cooked_chicken.json

# ██ [ for unplacable, stackable items                         ] ██
!assets/minecraft/models/item/stick.json

# ██ [ for unplacable, unstackable items                       ] ██
!assets/minecraft/models/item/totem_of_undying.json
