# ██ [ File-types                    ] ██
*.old
*.archive

# ██ [ Executables                   ] ██
*.exe
*.sh
*.py

# ██ [ Bloat external files          ] ██
*.bbmodel
*.psb

# ██ [ Default Minecraft assets      ] ██
assets/minecraft/textures/block/*
!assets/minecraft/textures/block/custom/
assets/minecraft/textures/item/*
!assets/minecraft/textures/item/custom/

assets/minecraft/models/block/*
!assets/minecraft/models/block/custom/
assets/minecraft/models/item/*
!assets/minecraft/models/item/custom/

# ██ [ Whitelist Minecraft overrides ] ██
!assets/minecraft/models/item/cookie.json
!assets/minecraft/models/item/potion.json
